**Import Library**

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Load Data**

In [14]:
# membaca file assessment.csv dan cek dimensi dataset

assmt = pd.read_csv('C:\\dev\\Analisis Big Data\\Oulad_Dataset\\assessments.csv')
assmt.shape

(206, 6)

In [15]:
# baca 5 data teratas

assmt.head()

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

**Handling Missing Value**

In [16]:
assmt.isna().sum()

code_module           0
code_presentation     0
id_assessment         0
assessment_type       0
date                 11
weight                0
dtype: int64

Pada kolom date, terdapat missing value. Oleh karena itu kita harus mengubahnya.

In [17]:
assmt = assmt.ffill() #  metode untuk mengisi nilai-nilai yang hilang 
assmt = assmt.drop_duplicates() # untuk menghapus baris-baris yang merupakan duplikat

In [18]:
assmt.isna().sum()

code_module          0
code_presentation    0
id_assessment        0
assessment_type      0
date                 0
weight               0
dtype: int64

terlihat missing value sudah tidak ada