In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# membaca file studentAssessment.csv dan cek dimensi dataset

std_assmt = pd.read_csv('C:\\dev\\Analisis Big Data\\Oulad_Dataset\\studentAssessment.csv')
std_assmt.shape

(173912, 5)

In [3]:
# baca 5 data teratas

std_assmt.head()

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0