In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# membaca file studentRegistration.csv dan cek dimensi dataset

reg = pd.read_csv('C:\\dev\\Analisis Big Data\\Oulad_Dataset\\studentRegistration.csv')
reg.shape

(32593, 5)

In [3]:
# membaca 5 data teratas

reg.head()

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

In [7]:
# cek null values

reg.isna().sum()

date_registration                      45
date_unregistration                 22521
code_module_student_presentation        0
dtype: int64

In [10]:
reg = reg.ffill() #  metode untuk mengisi nilai-nilai yang hilang